<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Add New Address</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.5/css/bootstrap-select.min.css">
    </link>
    <link href="/static/style.css" rel="stylesheet">
    </link>

</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" style="color: white" href="/">Invoices</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" style="color: white" href="#">Customers<span
                    class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/addCustomer">Add new customer</a></li>
                    <li><a href="/customers">Show all customers</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" style="color: white" href="#">Address<span
                    class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/address">Show all addresses</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" style="color: white" href="#">Products<span
                    class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/addProduct">Add new product</a></li>
                    <li><a href="/products">Show all products</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" style="color: white" href="#">Type of
                Customers<span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/addType">Add new type</a></li>
                    <li><a href="/typeOfCustomers">Show all types</a></li>
                </ul>
            </li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" style="color: white" href="#">Price
                Groups<span
                        class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/add">Add new group</a></li>
                    <li><a href="/priceGroups">Show all groups</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<form th:object="${address}" th:action="@{/{name}/address/add(name=${name})}" method="post"
      class="table-bordered rounded"
      style="margin: 100px;">
    <div class="form-row" align="center">
        <h3>Add Address</h3>

        <div class="form-group">

            <label class="col-form-label" style="width: 100px;">Street</label>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('street')}" style="width: 150px;">
                <p th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></p>
            </div>
            <input
                    title="street"
                    type="text"
                    name='street'
                    style="width: 200px;"
                    class="form-control"
                    th:field="*{street}"/>
        </div>
        <div class="form-group">

            <label class="col-form-label" style="width: 100px;">Number</label>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('number')}" style="width: 150px;">
                <p th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></p>
            </div>
            <input
                    type="text"
                    title="number"
                    style="width: 200px;"
                    class="form-control"
                    th:field="*{number}"/>
        </div>
        <div class="form-group">

            <label class="col-form-label" style="width: 100px;">PostCode</label>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('postCode')}" style="width: 150px;">
                <p th:if="${#fields.hasErrors('postCode')}" th:errors="*{postCode}"></p>
            </div>
            <input
                    type="text"
                    title="postCode"
                    style="width: 200px;"
                    class="form-control"
                    th:field="*{postCode}"/>
        </div>
        <div class="form-group">

            <label class="col-form-label" style="width: 100px;">City</label>
            <div class="alert alert-danger" th:if="${#fields.hasErrors('city')}" style="width: 150px;">
                <p th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></p>
            </div>
            <input
                    type="text"
                    title="city"
                    style="width: 200px;"
                    class="form-control"
                    th:field="*{city}"/>
        </div>


        <label class="col-form-label" style="width: 100px; display: block;">Type Of Address</label>

        <select th:field="*{typeOfAddressId}" title="Please select a type" class="selectpicker" data-live-search="true"
                data-dropup-auto="false">
            <optgroup label="">
                <option value="0">Please select a type</option>
            </optgroup>
            <option th:each="typeOfAddress: ${listOfAddressTypes}" th:text="${typeOfAddress.name}"
                    th:value="${typeOfAddress.id}">
            </option>
        </select>
        <div class="alert alert-danger" th:if="${#fields.hasErrors('typeOfAddressId')}" style="width: 150px;">
            <p th:if="${#fields.hasErrors('typeOfAddressId')}" th:errors="*{typeOfAddressId}"></p>
        </div>
        <input type="hidden" th:value="${idCustomer}" name="customerId" />
        <input type="hidden" th:value="${#dates.format(#dates.createNow() , 'yyyy-MM-dd')}" name="dataFrom" />


        <div class="form-group">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
</body>
</html>